body {
    background-color: pink;
}

h1, h3, p {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 20px; 
}

.red {
    color: red;
}

body {
    background-color: black;
}

#green {
    color: green; 
}

div {
    width: 50%;
    height: 350px; 
    border: 2px solid red;
    margin: 10px; 
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

/* https://www.w3schools.com/cssref/css3_pr_animation.php */
#dancing-sanrio {
    animation: dance 1.5s infinite;
}

@keyframes dance {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}